@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant dark (&:where(.dark, .dark *));

/* Font Sizes */
@theme {
    /* Font Size - Display */
    --text-display-lg: 3.5625em;
    --text-display-lg--font-weight: 400;
    --text-display-lg--letter-spacing: -0.0156em;

    --text-display-md: 2.8125em;
    --text-display-md--font-weight: 400;

    --text-display-sm: 2.25em;
    --text-dislay-sm--line-height: 2.75em;
    --text-display-sm--font-weight: 400;

    /* Font Size - Headline */
    --text-headline-lg: 2em;
    --text-headline-lg--line-height: 2.5em;
    --text-headline-lg--font-weight: 400;

    --text-headline-md: 1.75em;
    --text-headline-md--line-height: 2.2em;
    --text-headline-md--font-weight: 400;

    --text-headline-sm: 1.5em;
    --text-headline-sm--line-height: 2em;
    --text-headline-sm--font-weight: 400;

    /* Font Size - Title */
    --text-title-lg: 1.375em;
    --text-title-lg--line-height: 1.75em;
    --text-title-lg--font-weight: 400;

    --text-title-md: 1em;
    --text-title-md--line-height: 1.5em;
    --text-title-md--font-weight: 500;

    --text-title-sm: 0.875em;
    --text-title-sm--line-height-sm: 1.25em;
    --text-title-sm--font-weight: 500;

    /* Font Size - Body */
    --text-body-lg: 1em;
    --text-body-lg--line-height-sm: 1.5em;
    --text-body-lg--letter-spacing: 0.03125em;
    --text-body-lg--font-weight: 400;

    --text-body-md: 0.875em;
    --text-body-md--line-height: 1.25em;
    --text-body-md--letter-spacing: 0.0156em;
    --text-body-md--font-weight: 400;

    --text-body-sm: 0.75em;
    --text-body-sm--line-height: 1em;
    --text-body-sm--letter-spacing: 0.025em;
    --text-body-sm--font-weight: 400;

    /* Font Size - Label */
    --text-label-lg: 0.875em;
    --text-label-lg--font-weight: 500;
    --text-label-lg--letter-spacing: 0.00625em;
    --text-label-lg--line-height: 1.25em;

    --text-label-md: 0.75em;
    --text-label-md--font-weight: 500;
    --text-label-md--letter-spacing: 1em;

    --text-label-sm: 0.6875em;
    --text-label-sm--font-weight: 500;
    --text-label-sm--letter-spacing: 1em;
}

@theme {
    --color-primary: hsl(216, 100%, 58%);

    --color-dark-dp0: hsl(210, 7%, 4%);
    --color-dark-dp1: hsl(210, 7%, 8%);
    --color-dark-dp2: hsl(210, 7%, 12%);
    --color-dark-dp3: hsl(210, 7%, 16%);
    --color-dark-dp4: hsl(210, 7%, 20%);

    --color-light-dp1: hsl(0, 0%, 100%);
    --color-light-dp0: hsl(210, 78%, 98%);
    /*--color-light-dp0: hsl(210, 7%, 92%);*/
    /*--color-light-dp0: hsl(210, 7%, 88%);*/
}

@theme inline {
    /* backgroud and foreground colors */
    --color-light-bg: oklch(0.985 0.002 247.839);
    --color-dark-bg: oklch(0.1448 0 0);
    --color-light-fg: rgb(255, 255, 255);
    --color-dark-fg: oklch(0.2046 0 0);

    /* text light and dark colors */
    --color-light-text: var(--color-gray-100);
    --color-dark-text: var(--color-dark-dp0);

}


@layer base{
    button, a{
        @apply cursor-pointer
    }

    svg{
        @apply fill-dark-dp3 dark:fill-light-text
    }
}

@layer components{
    /*
    * Font Sizes
    */

    .heading-1{
        @apply text-display-sm md:text-display-md lg:text-display-lg
    }

    .heading-2{
        @apply text-headline-lg md:text-display-sm lg:text-display-md;
    }

    .heading-3{
        @apply text-headline-md md:text-headline-lg lg:text-display-sm;
    }

    .heading-4{
        @apply text-headline-sm md:text-headline-md lg:text-headline-lg;
    }

    .heading-5{
        @apply text-title-lg md:text-headline-sm lg:text-headline-md;
    }

    .heading-6{
        @apply text-title-md md:text-title-lg lg:text-headline-sm;
    }

    .navbar{
        @apply bg-light-dp1 dark:bg-dark-dp1 border-white/10 shadow-md
    }

    .input-label{
        @apply text-body-md text-dark-text dark:text-gray-400
    }

    .input{
        @apply mt-2 w-full block p-2 text-label-lg rounded text-dark-text dark:text-light-text outline outline-gray-400 focus:outline-3 dark:outline-[#4c4f52] dark:outline-white/20 dark:bg-dark-dp2
    }

    .card{
        @apply dark:bg-dark-dp1 p-6 rounded border border-white/10
    }
}
