@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --color-primary: oklch(62.3% 0.214 259.815);

    /* backgroud and foreground colors */
    --color-light-bg: oklch(0.985 0.002 247.839);
    --color-dark-bg: oklch(0.1448 0 0);
    --color-light-fg: rgb(255, 255, 255);
    --color-dark-fg: oklch(0.2046 0 0);

    /* text light and dark colors */
    --color-light-text: var(--color-gray-300);
    --color-dark-text: oklch(0.2695 0.0133 272.86);
}

@layer base{
    button, a{
        @apply cursor-pointer
    }
}

@layer components{
    .navbar{
        @apply dark:bg-dark-fg/20 border-white/10 shadow-md
    }
}
